<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" src="/assets/images/Fidelitas_Favicon.png" type="image/x-icon">
    <title>About | Snowball</title>
</head>
<body>
<div style="text-align:center">
    <img alt="Logo U Fidélitas" src="../Assets/Images/FidelitasLogo.png">
    <h1>Capstone Project</h1>
    <br>
    <p>This project contains the fallow along code for this class.</p>
    <br> <br>
    <p><b>Professor:</b> KENNETH JEANPOL ALVARADO MENDEZ</p>
    <p><b>Class:</b> Desarrollo de Aplicaciones Web y Patrones (SC-403)</p>
    <br>
    <p><b>Members: </b> Angelo Steven Sotomayor Vargas
        <br>Glennmar Milliner Whitaker
        <br>Guilder W. Milliner
    </p>
</div>
</body>
</html>
