<!DOCTYPE html>
<html lang="en" layout:decorate="~{components/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Home</title>
</head>
<body>

<div layout:fragment="content">
    <div>
        <h2>Calculadora de Liquidación de Préstamos</h2>
        <p>Usa la calculadora para ver cuanto puedes ahorrar en intereses
            al realizar pagos extraordinarios</p>
    </div>
    <div>
        <form action="#">
            <label>Pago Mensual Actual: </label><input type="text" name="Pago
                    Mensual" placeholder=""><br>
            <label>Saldo Restante del Préstamo: </label><input type="text"
                                                               name="Saldo Restante" placeholder=""><br>
            <label>Porcentaje de Interés: </label><input type="range"
                                                         name="Porcentaje Interés" min="16" max="88"><br>
            <label>Calcular: </label><input type="submit" name="Calcular">
        </form>
    </div>
    <div>
        <h2>Resultados de la Liquidación</h2>
    </div>
</body>
</html>
