<!DOCTYPE html>
<html lang="en" layout:decorate="~{globalComponents/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head><title>About</title></head>
<body>

<div layout:fragment="content">
    <img alt="Logo U Fidélitas" src="/images/FidelitasLogo.png">
    <h1>Capstone Project</h1>
    <br>
    <p>This project contains the fallow along code for this class.</p>
    <br> <br>
    <p><b>Professor:</b> KENNETH JEANPOL ALVARADO MENDEZ</p>
    <p><b>Class:</b> Desarrollo de Aplicaciones Web y Patrones (SC-403)</p>
    <br>
    <p><b>Members: </b> Angelo Steven Sotomayor Vargas
        <br>Glennmar Milliner Whitaker
        <br>Guilder W. Milliner
    </p>
</div>

</body>
</html>
