<!DOCTYPE html>
<html lang="en" layout:decorate="~{globalComponents/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link rel="stylesheet" th:href="@{CSS/pricingPage.css}">
    <title>Pricing</title></head>
<body>
<div layout:fragment="content">

    <!--====== PRICING STYLE EIGHT START ======-->
    <section class="pricing-area pricing-eight">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-6 col-xl-7 col-lg-8">
                    <div class="section-title text-center">
                        <h2 class="mb-3 fw-bold">Select your Plan</h2>
                        <p class="text-lg">
                            A financial plan will guide you to the rapid cancellation 
                            of your debts through a series of resources and steps to 
                            follow that will teach you how to save for emergencies, 
                            manage your money correctly and invent for your future.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="pricing-style-eight">
                        <div class="pricing-icon">
                            <i class="lni lni-thumbs-up"></i>
                        </div>
                        <div class="pricing-header text-center">
                            <h5 class="sub-title">Basic</h5>
                            <h3 class="price">$199<span class="month">/month</span></h3>
                        </div>
                        <div class="pricing-list">
                            <ul>
                                <li>
                                    <i class="lni lni-checkmark-circle"></i> Promotional
                                    Materials
                                </li>
                                <li>
                                    <i class="lni lni-checkmark-circle"></i> Self-Guide Training
                                </li>
                                <li>
                                    <i class="lni lni-checkmark-circle"></i> Video Lessons
                                </li>
                                <li>
                                    <i class="lni lni-checkmark-circle"></i> Ask a Coach Chat
                                </li>
                            </ul>
                        </div>
                        <div class="pricing-btn rounded-buttons text-center">
                            <a
                                    class="btn primary-btn rounded-full"
                                    href="javascript:void(0)"
                            >
                                GET STARTED
                            </a>
                        </div>
                    </div>
                    <!-- pricing style one -->
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="pricing-style-eight">
                        <div class="pricing-icon">
                            <i class="lni lni-users"></i>
                        </div>
                        <div class="pricing-header text-center">
                            <h5 class="sub-title">Pro</h5>
                            <h3 class="price">$399<span class="month">/month</span></h3>
                        </div>
                        <div class="pricing-list">
                            <ul>
                                <li>
                                    <i class="lni lni-checkmark-circle"></i> Live Trainings
                                </li>
                                <li>
                                    <i class="lni lni-checkmark-circle"></i> Video Lessons
                                </li>
                                <li>
                                    <i class="lni lni-checkmark-circle"></i> Dedicated Coach
                                </li>
                                <li>
                                    <i class="lni lni-checkmark-circle"></i> Custom Action Plan
                                </li>
                            </ul>
                        </div>
                        <div class="pricing-btn rounded-buttons text-center">
                            <a
                                    class="btn primary-btn rounded-full"
                                    href="javascript:void(0)"
                            >
                                GET STARTED
                            </a>
                        </div>
                    </div>
                    <!-- pricing style one -->
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </section>
    <!--====== PRICING STYLE EIGHT ENDS ======-->
</div>
</body>
</html>
