<!DOCTYPE html>
<html lang="en" layout:decorate="~{globalComponents/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link rel="stylesheet" th:href="@{CSS/pricingPage.css}">
    <title>Pricing</title></head>
<body>
<div layout:fragment="content">

    <!--====== PRICING STYLE EIGHT START ======-->
    <section class="pricing-area pricing-eight">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-6 col-xl-7 col-lg-8">
                    <div class="section-title text-center">
                        <h2 class="mb-3 fw-bold" th:text="#{pricing.title}">Pay off debt faster and live the life you
                            really want!</h2>
                        <p class="text-lg" th:text="#{pricing.paragraph}">
                            A financial plan will guide you to the rapid cancellation
                            of your debts through a series of resources and steps to
                            follow that will teach you how to save for emergencies,
                            manage your money correctly and invent for your future.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="pricing-style-eight">
                        <div class="pricing-icon">
                            <i class="lni lni-handshake"></i>
                        </div>
                        <div class="pricing-header text-center">
                            <h5 class="sub-title" th:text="#{pricing.planbasictitle}">Education</h5>
                            <p class="month" th:text="#{pricing.planbasicsubtitle}">Basic</p>
                            <div>
                                <p th:text="#{pricing.planbasicparagraph}">Learn to better manage your money quickly and
                                    easily.</p>
                            </div>
                            <h3 class="price">$19.99</h3>
                        </div>
                        <div class="pricing-list">
                            <ul>
                                <li>
                                    <i class="lni lni-checkmark-circle"></i> [[#{pricing.planbasiclistone}]]
                                </li>
                                <li>
                                    <i class="lni lni-checkmark-circle"></i> [[#{pricing.planbasiclisttwo}]]
                                </li>
                                <li>
                                    <i class="lni lni-checkmark-circle"></i> [[#{pricing.planbasiclistthree}]]
                                </li>
                                <li>
                                    <i class="lni lni-checkmark-circle"></i> [[#{pricing.planbasiclistfour}]]
                                </li>
                            </ul>
                        </div>
                        <div class="pricing-btn rounded-buttons text-center">
                            <a
                                    class="btn primary-btn rounded-full"
                            >
                                [[#{pricing.addcart}]]
                            </a>
                        </div>
                    </div>
                    <!-- pricing style one 
                    <form th:action="@{/addCart}" method="post" th:object="${newItem}">
                        <input type="hidden" name="idProduct" id="productId" th:value="*{1}"/>
                        </div>
                                    <div class="single-form standard-buttons">
                                        <button type="submit" class="btn primary-btn square">
                                            Add to Cart
                                        </button>
                                    </div>
                    </form>
                    -->
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="pricing-style-eight">
                        <div class="pricing-icon">
                            <i class="lni lni-investment"></i>
                        </div>
                        <div class="pricing-header text-center">
                            <h5 class="sub-title" th:text="#{pricing.planmediumtitle}">Encouragement</h5>
                            <p class="month" th:text="#{pricing.planmediumsubtitle}">Medium</p>
                            <div>
                                <p th:text="#{pricing.planmediumparagraph}">Build momentum with small wins along the
                                    way.</p>
                            </div>
                            <h3 class="price">$59.99</h3>
                        </div>
                        <div class="pricing-list">
                            <ul>
                                <li>
                                    <i class="lni lni-checkmark-circle"></i> [[#{pricing.planmediumlistone}]]
                                </li>
                                <li>
                                    <i class="lni lni-checkmark-circle"></i> [[#{pricing.planmediumlisttwo}]]
                                </li>
                                <li>
                                    <i class="lni lni-checkmark-circle"></i> [[#{pricing.planmediumlistthree}]]
                                </li>
                                <li>
                                    <i class="lni lni-checkmark-circle"></i> [[#{pricing.planmediumlistfour}]]
                                </li>
                            </ul>
                        </div>
                        <div class="pricing-btn rounded-buttons text-center">
                            <a
                                    class="btn primary-btn rounded-full"
                                    th:href="@{/shoppingCart}"
                            >
                                [[#{pricing.addcart}]]
                            </a>
                        </div>
                    </div>
                    <!-- pricing style one -->
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="pricing-style-eight">
                        <div class="pricing-icon">
                            <i class="lni lni-invest-monitor"></i>
                        </div>
                        <div class="pricing-header text-center">
                            <h5 class="sub-title" th:text="#{pricing.planprotitle}">Empowerment</h5>
                            <p class="month">PRO</p>
                            <div>
                                <p th:text="#{pricing.planproparagraph}">Make financial decisions with confidence in
                                    every aspect of your life.</p>
                            </div>
                            <h3 class="price">$129.99</h3>
                        </div>
                        <div class="pricing-list">
                            <ul>
                                <li>
                                    <i class="lni lni-checkmark-circle"></i> [[#{pricing.planprolistone}]]
                                </li>
                                <li>
                                    <i class="lni lni-checkmark-circle"></i> [[#{pricing.planprolisttwo}]]
                                </li>
                                <li>
                                    <i class="lni lni-checkmark-circle"></i> [[#{pricing.planprolistthree}]]
                                </li>
                                <li>
                                    <i class="lni lni-checkmark-circle"></i> [[#{pricing.planprolistfour}]]
                                </li>
                            </ul>
                        </div>
                        <div class="pricing-btn rounded-buttons text-center">
                            <a class="btn primary-btn rounded-full"
                            >
                                [[#{pricing.addcart}]]
                            </a>
                        </div>
                    </div>
                    <!-- pricing style one -->
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </section>
    <!--====== PRICING STYLE EIGHT ENDS ======-->
</div>
</body>
</html>
