<!DOCTYPE html>
<html lang="en" layout:decorate="~{globalComponents/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <link rel="stylesheet" th:href="@{CSS/loginPage.css}">
        <title>Login</title></head>
    <body>

        <div layout:fragment="content">

            <!--====== SIGNIN THREE PART START ======-->
            <section class="signin-area signin-area-three">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="signin-three">
                                <div class="signin-form form-style-two">
                                    <h3 class="text-center mb-4" th:text="#{signin.title}">Login to your account</h3>
                                    <div class="signin-text text-center">
                                        <p class="text" th:text="#{signin.paragraph}">Enter Credential to Sign In</p>
                                    </div>
                                    <form action="#">
                                        <div class="form-input">
                                            <div class="input-items default">
                                                <input placeholder="Email" type="text"/>
                                                <i class="lni lni-envelope"></i>
                                            </div>
                                        </div>
                                        <!-- form input -->
                                        <div class="form-input">
                                            <div class="input-items default">
                                                <input placeholder="Password" type="password"/>
                                                <i class="lni lni-key"></i>
                                            </div>
                                        </div>
                                        <!-- form input -->
                                        <div class="signin-checkbox">
                                            <input id="checkbox" type="checkbox"/>
                                            <label for="checkbox"></label>
                                            <span th:text="#{signin.checkbox}">Remember me</span>
                                        </div>
                                        <div class="form-input light-rounded-buttons text-center">
                                            <button class="btn primary-btn" type="submit" th:text="#{signin.bottom}">
                                                Sign In
                                            </button>
                                        </div>
                                        <!-- form input -->
                                    </form>
                                </div>
                                <div class="new-user text-center">
                                    <p class="text">
                                        [[#{signin.paragraphtwo}]]
                                        <a th:href="@{/userSignUp}" th:text="#{signin.link}">Don't have an account?</a>
                                    </p>
                                </div>
                            </div>
                            <!-- signin three -->
                        </div>
                    </div>
                    <!-- row -->
                </div>
                <!-- container -->
            </section>
            <!--====== SIGNIN THREE PART ENDS ======-->

        </div>

    </body>
</html>
