<!DOCTYPE html>
<html lang="en" layout:decorate="~{globalComponents/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link rel="stylesheet" th:href="@{CSS/loginPage.css}">
    <title>Login</title></head>
<body>

<div layout:fragment="content">

    <!--====== SIGNIN THREE PART START ======-->
    <section class="signin-area signin-area-three">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="signin-three">
                        <div class="signin-form form-style-two">
                            <h2 class="text-center mb-4">Temp Login Page</h2>
                            <h3 class="text-center mb-4" th:text="#{signin.title}">Login to your account</h3>
                            <div class="signin-text text-center">
                                <p class="text" th:text="#{signin.paragraph}">Enter Credential to Sign In</p>
                            </div>

                            <div th:if="${param.error}">
                                <div class="alert alert-danger">
                                    Invalid username and password.
                                </div>
                            </div>
                            <div th:if="${param.logout}">
                                <div class="alert alert-info">
                                    You have been logged out.
                                </div>
                            </div>

                            <form class="form-signin" method="POST" th:action="@{/login}">
                                <span th:text="${message}"></span>
                                <!-- form input -->
                                <div class="form-input">
                                    <div class="input-items default">
                                        <input autofocus="true" class="form-control input-lg" id="username"
                                               name="username"
                                               placeholder="UserName" required="true" type="text"/>
                                        <i class="lni lni-envelope"></i>

                                    </div>
                                </div>
                                <!-- form input -->
                                <div class="form-input">
                                    <div class="input-items default">
                                        <input class="form-control input-lg" id="password" name="password"
                                               placeholder="Password"
                                               required="true" type="password"/>
                                        <i class="lni lni-key"></i>
                                    </div>
                                </div>
                                <!-- form input -->
                                <div class="signin-checkbox">
                                    <input id="checkbox" type="checkbox"/>
                                    <label for="checkbox"></label>
                                    <span th:text="#{signin.checkbox}">Remember me</span>
                                </div>
                                <span class="has-error" th:text="${error}"></span>
                                <input name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}"/>
                                <div class="form-input light-rounded-buttons text-center">
                                    <button class="btn primary-btn" th:text="#{signin.bottom}" type="submit">
                                        Sign In
                                    </button>
                                </div>

                            </form>
                        </div>
                        <div class="new-users text-center">
                            <p class="text">
                                [[#{signin.paragraphtwo}]]
                                <a th:href="@{/userSignUp}" th:text="#{signin.link}">Don't have an account?</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </section>
    <!--====== SIGNIN THREE PART ENDS ======-->

</div>

</body>
</html>
