<!DOCTYPE html>
<html lang="en" layout:decorate="~{globalComponents/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link rel="stylesheet" th:href="@{CSS/profilePage.css}">
    <title>Profile</title>
</head>
<body>
<div layout:fragment="content">
    <div class="profile profile-two">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cover-image"></div>
                    <div class="pf-content">
                        <div class="pf-img-des">
                            <div class="image">
                                <img
                                        alt="" src="/images/blanckuser.jpg"/>
                            </div>
                            <div class="des">
                                <h5>User</h5>
                                <p>
                                    You can see your personal information and update your data if you wish, in addition
                                    you can also see a status of your current subscriptions:
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="features-area features-eleven contact-area" id="features">
        <div class="container">
            <div class="tab-head">
                <div class="row">
                    <div class="col-12">
                        <div class="nav-head">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a aria-controls="email-marketing" aria-selected="true" class="nav-link active"
                                       data-bs-toggle="pill" href="#email-marketing"
                                       id="email-marketing-tab" role="tab">
                                        <i class="lni lni-envelope"></i> Personal Information
                                    </a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a aria-controls="user-analytics" aria-selected="false" class="nav-link"
                                       data-bs-toggle="pill" href="#user-analytics"
                                       id="user-analytics-tab" role="tab">
                                        <i class="lni lni-bar-chart"></i> Your Suscriptions
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content" id="pills-tabContent">
                            <div aria-labelledby="email-marketing-tab" class="tab-pane fade show active" id="email-marketing"
                                 role="tabpanel">
                                <div class="tab-content-inner">
                                    <div class="row align-items-center">
                                        <div class="col-md-8 mx-auto">
                                            <div class="tab-text">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="section-title mt-45">
                                                            <h3 class="title text-center">Update Info</h3>
                                                        </div>
                                                        <div class="contact-form form-style-four mt-15">
                                                            <form action="#">
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-input mt-15">
                                                                            <label>First Name</label>
                                                                            <div class="input-items default">
                                                                                <i class="lni lni-user"></i>
                                                                                <input placeholder="First Name"
                                                                                       type="text"/>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-input mt-15">
                                                                            <label>Last Name</label>
                                                                            <div class="input-items default">
                                                                                <i class="lni lni-user"></i>
                                                                                <input placeholder="Last Name"
                                                                                       type="text"/>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-input mt-15">
                                                                            <label>Email Address</label>
                                                                            <div class="input-items default">
                                                                                <i class="lni lni-envelope"></i>
                                                                                <input placeholder="admin@uideck.com"
                                                                                       type="text"/>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-input mt-15">
                                                                            <label>Password</label>
                                                                            <div class="input-items default">
                                                                                <i class="lni lni-key"></i>
                                                                                <input placeholder="********"
                                                                                       type="password"/>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="align-items-center">
                                                                        <div class="single-form mt-15">
                                                                            <div class="input-form rounded-buttons">
                                                                                <button
                                                                                        class="btn primary-btn rounded-full"
                                                                                        type="submit"
                                                                                >
                                                                                    UPDATE INFO
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div aria-labelledby="user-analytics-tab" class="tab-pane fade" id="user-analytics"
                                 role="tabpanel">
                                <div class="tab-content-inner">
                                    <div class="row align-items-center">
                                        <div class="col-md-8 mx-auto">
                                            <div class="tab-text">
                                                <!--====== CHECKOUT PART TWO START ======-->
                                                <section class="checkout-area checkout-two">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div>
                                                                <div class="product-details">
                                                                    <h3 class="product-title">
                                                                        Your Finance Plan
                                                                    </h3>
                                                                    <div class="des">
                                                                        <p>
                                                                            With your suscription you'll learn to build
                                                                            habits that keep you motivated and on track
                                                                            with your money goals.
                                                                        </p>
                                                                    </div>
                                                                    <div class="price-variations">
                                                                        <div class="form-check">
                                                                            <input
                                                                                    class="form-check-input"
                                                                                    id="flexCheckDefault1"
                                                                                    type="checkbox"
                                                                                    value=""
                                                                            />
                                                                            <label class="form-check-label"
                                                                                   for="flexCheckDefault1">
                                                                                <span class="title">Education</span>
                                                                                <span class="description"
                                                                                >Learn to better manage your money quickly and easily.</span
                                                                                >
                                                                                <span class="price">$19.99</span>
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-check">
                                                                            <input
                                                                                    class="form-check-input"
                                                                                    id="flexCheckDefault2"
                                                                                    type="checkbox"
                                                                                    value=""
                                                                            />
                                                                            <label class="form-check-label"
                                                                                   for="flexCheckDefault2">
                                                                                <span class="title">Encouragement</span>
                                                                                <span class="description"
                                                                                >Build momentum with small wins along the way.</span
                                                                                >
                                                                                <span class="price">$59.99</span>
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-check">
                                                                            <input
                                                                                    class="form-check-input"
                                                                                    id="flexCheckDefault3"
                                                                                    type="checkbox"
                                                                                    value=""
                                                                            />
                                                                            <label class="form-check-label"
                                                                                   for="flexCheckDefault3">
                                                                                <span class="title">Empowerment</span>
                                                                                <span class="description"
                                                                                >Make financial decisions with confidence in every aspect of your life.</span
                                                                                >
                                                                                <span class="price">$129.99</span>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- container -->
                                                </section>
                                                <!--====== CHECKOUT PART TWO ENDS ======-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-title-two">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="content">
                            <form method="POST" style="display: inline" th:action="@{/logout}">
                                <a href="#" onclick="this.parentNode.submit();"><span>Log Out</span></a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>
