<!DOCTYPE html>
<html lang="en" layout:decorate="~{globalComponents/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <link rel="stylesheet" th:href="@{CSS/shoppingCart.css}">
        <title>Shopping Cart</title>
    </head>
    <body>
        <div layout:fragment="content">
            <section id="content">
                <div class="content-wrap">
                    <div class="container">
                        <table class="table cart mb-5">
                            <thead>
                                <tr>
                                    <th class="cart-product-name">Product</th>
                                    <th class="cart-product-price">Unit Price</th>
                                    <th class="cart-product-subtotal">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="cart_item">
                                    <td class="cart-product-name">
                                        <a href="#">PLAN 1</a>
                                    </td>
                                    <td class="cart-product-price">
                                        <span class="amount">$19.99</span>
                                    </td>
                                    <td class="cart-product-subtotal">
                                        <span class="amount">$39.98</span>
                                    </td>
                                </tr>
                                <tr class="cart_item">
                                    <td class="cart-product-name">
                                        <a href="#">PLAN 2</a>
                                    </td>
                                    <td class="cart-product-price">
                                        <span class="amount">$19.99</span>
                                    </td>
                                    <td class="cart-product-subtotal">
                                        <span class="amount">$39.98</span>
                                    </td>
                                </tr>
                                <tr class="cart_item">
                                    <td class="cart-product-name">
                                        <a href="#">PLAN 3</a>
                                    </td>
                                    <td class="cart-product-price">
                                        <span class="amount">$19.99</span>
                                    </td>
                                    <td class="cart-product-subtotal">
                                        <span class="amount">$39.98</span>
                                    </td>
                                </tr>
                                <tr class="cart_item">
                                    <td colspan="6">
                                        <div class="row justify-content-between py-2 col-mb-30">
                                            <div class="col-lg-auto pe-lg-0">
                                                <a th:href="@{/Checkout}" class="button button-3d mt-2 mt-sm-0 me-0">Proceed to Checkout</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </body>
</html>
