<!DOCTYPE html>
<html lang="en" layout:decorate="~{globalComponents/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <link rel="stylesheet" th:href="@{CSS/shoppingCart.css}">
        <title>Shopping Cart</title>
    </head>
    <body>
        <div layout:fragment="content">
            <section id="content">
                <div class="content-wrap">
                    <div class="container">
                        <table class="table cart mb-5">
                            <thead>
                                <tr>
                                    <th class="cart-product-name">Product</th>
                                    <th class="cart-product-name">Plan Selected</th>
                                    <th class="cart-product-price">Unit Price</th>
                                    <th class="cart-product-subtotal">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <th:block th:each="product:${products}">
                                <tr class="cart_item">
                                    <td class="cart-product-name">
                                        <a>Suscrption Plan</a>
                                    </td>
                                    <td class="cart-product-price" th:text="${product.getName}">
                                    </td>
                                    <td class="cart-product-subtotal">
                                        <span class="amount" th:text="${product.getDescription}"></span>
                                    </td>
                                    <td class="cart-product-subtotal">
                                        <span class="amount" th:text="${product.getPrice}"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </body>
</html>
