<!DOCTYPE html>
<html lang="en" layout:decorate="~{globalComponents/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link rel="stylesheet" th:href="@{CSS/signUpPage.css}">
    <title>Sign Up</title>
    </header>
<body>
<div layout:fragment="content">
    <section class="signin-area signin-area-five">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-12">
                    <div class="sing-in-form-area">
                        <h4 class="sing-in-title">
                            <i class="lni lni-user"></i> [[#{signup.title}]]
                        </h4>
                        <p class="text" th:text="#{signup.paragraph}">
                            Register for an Account
                        </p>
                        <div class="sing-in-form-wrapper form-style-one">
                            <form method="post" th:action="@{/saveUser}" th:object="${newUser}">
                                <div class="form-input">
                                    <input for="id" name="idUser" th:field="*{id}" type="hidden"/>

                                    <label th:text="#{signup.firstname}">First name</label>
                                    <div class="input-items default">
                                        <input name="FirstName" placeholder="First name" th:field="*{firstName}"
                                               type="text"/>
                                        <i class="lni lni-user"></i>
                                    </div>
                                </div>
                                <div class="form-input">
                                    <label th:text="#{signup.lastname}">Last name</label>
                                    <div class="input-items default">
                                        <input name="LastName" placeholder="Last name" th:field="*{LastName}"
                                               type="text"/>
                                        <i class="lni lni-user"></i>
                                    </div>
                                </div>
                                <div class="form-input">
                                    <label th:text="#{signup.email}">Email</label>
                                    <div class="input-items default">
                                        <input name="Email" placeholder="Email" th:field="*{email}" type="email"/>
                                        <i class="lni lni-envelope"></i>
                                    </div>
                                </div>
                                <!-- form input -->
                                <div class="form-input">
                                    <label th:text="#{signup.password}">Password</label>
                                    <div class="input-items default">
                                        <input name="Password" placeholder="********" th:field="*{password}"
                                               type="password"/>
                                        <i class="lni lni-key"></i>
                                    </div>
                                </div>
                                <div class="single-form d-sm-flex justify-content-between">
                                    <div class="form-checkbox">
                                        <input id="checkbox2" name="checkbox2" type="checkbox"/>
                                        <label for="checkbox2"></label>
                                        <span th:text="#{signup.checkbox}">I agree to the terms and policy.</span>
                                    </div>
                                </div>
                                <!-- single-form -->
                                <div class="single-form standard-buttons">
                                    <button class="btn primary-btn square" type="submit">
                                        [[#{signup.bottom}]]
                                    </button>
                                </div>
                                <!-- single-form -->
                            </form>

                        </div>
                        <!-- sing in form wrapper -->
                    </div>
                    <!-- sing in form areasing-in-form-area -->
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </section>
</body>
</html>
