<!DOCTYPE html>
<html lang="en" layout:decorate="~{globalComponents/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <link rel="stylesheet" th:href="@{CSS/SnowballCalculator.css}">
    <title>Snowball Calculator</title></head>
<body>

<div layout:fragment="content">
    <!--====== COMING SOON PART START ======-->
    <section
            class="
   coming-soon-area coming-soon-one
   d-flex
   align-items-center
   bg_cover
   "
            style="background-image: url(/images/CalculatorImage.jpg)"
    >
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="coming-soon-content text-center">
                        <div class="countdown">
                            <ul id="countdown-example">
                                <li>
                                    <span class="count days">29</span>
                                    <p class="text days_text">Days</p>
                                </li>
                                <li>
                                    <span class="count hours">53</span>
                                    <p class="text hours_text">Hours</p>
                                </li>
                                <li>
                                    <span class="count minutes">34</span>
                                    <p class="text minutes_text">Minutes</p>
                                </li>
                                <li>
                                    <span class="count seconds">08</span>
                                    <p class="text seconds_text">Seconds</p>
                                </li>
                            </ul>
                        </div>
                        <h3 class="coming-soon-title"> Snowball Calculator page</h3>
                        <h4 class="coming-soon-title">coming soon</h4>
                        <div class="coming-soon-btn rounded-buttons">
                            <ul>
                                <li>
                                    <a
                                            class="btn primary-btn-outline rounded-full"
                                            href="javascript:void(0)"
                                    >
                                        LEARN MORE
                                    </a>
                                </li>
                                <li>
                                    <a
                                            class="btn primary-btn rounded-full"
                                            href="javascript:void(0)"
                                    >
                                        GET NOTIFY
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- rounded-buttons -->
                    </div>
                    <!-- coming soon content -->
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </section>
    <!--====== COMING SOON PART ENDS ======-->
    <script>
        // ====== date countdown
        const end = new Date("April 26, 2022 00:00:00").getTime();
        //const end = new Date("November 09, 2020 00:00:00").getTime();
        const dayEl = document.querySelector(".days");
        const hoursEl = document.querySelector(".hours");
        const minutesEl = document.querySelector(".minutes");
        const secondsEl = document.querySelector(".seconds");
        const seconds = 1000;
        const minutes = seconds * 60;
        const hours = minutes * 60;
        const days = hours * 24;

        const x = setInterval(function () {
            let now = new Date().getTime();
            const difference = end - now;

            if (difference < 0) {
                clearInterval(x);
                document.getElementById("done").innerHTML = "We're married! ðŸŽ‰";
                return;
            }

            dayEl.innerText = Math.floor(difference / days);
            hoursEl.innerText = Math.floor((difference % days) / hours);
            minutesEl.innerText = Math.floor((difference % hours) / minutes);
            secondsEl.innerText = Math.floor((difference % minutes) / seconds);
        }, seconds);
    </script>
</div>

</body>
</html>
